.navbar{
    background-color: #e6a700;
}
.navbar-brand{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 40px;
}
.inst-top{
    background-color:  #7a7a7a;
}
.margin{
    padding-top: 20px;
    padding-bottom: 20px;
}
h3 h4{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}
.serv-top{
    background-color:  #f4d03f;
}
.consu-top{
    background-color: #000000;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFF;
    position: absolute;
    padding-top: 300px;
    padding-left: 20px;
}
.h1-text{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFF;
    position: absolute;
    padding-top: 200px;
    padding-left: 20px;
}
.container{
    padding-top: 30px;
}
.bg-footer{
    background-color: #f4d03f;
}
.card{
    background-color:  #e6a700;
}
.bg-contato{
    background-color: #d1d1d1;
}